/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 Feb, 2014, 8:17:54 PM
    Author     : rahul
*/

.CreateElectionForm{
    width: 500px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.CreateElectionForm div.submit{
    margin-left: 130px;
}

.CreateElectionForm h3{
    text-align:center;
}

.header {
    height:80px;
    background: lightblue;    
    border-radius: 0px 0px 10px 10px;
}
.header .title{
    font-size: 46px;
    padding: 15px;
    font-weight: bolder;
    padding-left: 20px;
}

.footer{
    height :50px;
    background: lightblue;
    border-radius: 10px 10px 0px 0px;
}
.content{
    padding:20px;
}

.inlineforms label, .inlineforms .btn{
    margin-left: 10px;
    margin-right: 10px;
}

.inlineforms{
    margin-top: 10px;
    margin-bottom: 10px;
}
.inlineforms .panel-heading{
    cursor: pointer;
}

/*css for edit election page*/
.ulnotype{
    list-style:none;
    padding:0px;
}
.postList div.title > h3 {
    display: inline-block;
    padding: 10px;
    margin: 0px;
    border-bottom: 2px solid lightblue;
}
.postList div.title {
    display: block;
    border-bottom: 1px dotted lightgrey;
    margin-bottom: 10px;
}

.postList div.candidates {
    padding-left: 10px;
    padding-right: 10px;
}

.postList div.candidates ul {
    width:100%;
    min-height:20px;    
}

.postList div.candidates .thumbnail img{
    width: 160px;
    height: 166px;    
}
.postList div.candidates .thumbnail .rightside{    
    text-align: center;
}
.postList div.candidates .thumbnail{
    width: 170px;
    min-height: 250px;
    float: left;
    margin-right: 20px;
    padding-bottom: 10px;
}
.postList div.candidates .thumbnail .title{        
    margin: 0px;    
    margin-top: 10px;
    text-align: center;
}

.postList div.candidates .thumbnail .inputbar{            
    margin: 0px;
    margin-top: 10px;
    text-align: center;
}

.form-group.error .help-inline{
    color:#d2322d;
    margin-right: 5px;
}

.form-group.error input{
    border:1px solid #d2322d;
}
/*end*/
